extends layout.pug

block variables
    - let title = articles.title;

block content
    main.container
        a(href="/")
           
            |  Retour à la liste des articles
        h1= articles.title + ' '
            span.categorie
             
                |  #{articles.category.title}
        h3
            | Publié le #{new Date(articles.dateCreated).toLocaleString()}, par 
            em= articles.author.name
        
        p= articles.content

        hr



